.Container {
    padding-bottom: 20px;
}

.Image {
    width: 50vw;
    height: 50vw;
}

.Row1 {
    color: black;
    font-family: monospace;
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0px;
    font-weight: 500;
    margin: 0;
}

.Row2 {
    color: black;
    font-family: monospace;
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0px;
    font-weight: 500;
    margin: 0;
}

.Row3 {
    color: black;
    font-family: monospace;
    width: 100%;
    text-align: center;
    font-size: 2em;
    text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 0px;
    font-weight: 500;
    margin: 0;
}

.Divider {
    height: 1px;
    width: 80%;
    background-color: black;
    left: 10%;
    position: relative;
    margin-bottom: 20px;
}